.contacts-page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    width: 80%;
}

.contact-column {
    display: flex;
    align-content: center;
    height: 175px;
}

.contacts-container {
    margin: auto;
    width: 69%;
    font-size: 1.20rem;
    text-align: left;
}

.contacts-title {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 0.75rem;
}

.logo-image {
    margin-right: 10px;
}

.contact-link {
    margin-top: 0.25rem;
    color: var(--lighter-color);
    text-decoration: none;
    font-size: 0.75rem;
}



.link-container {
    display: flex;
}

.download-container {
    width: 30%;
    display: flex;
    margin: auto;
    align-items: baseline;
    flex-direction: column;
}

.resume-attachment {
    margin: auto;
}

.download-title {
    display: flex;
    width: fit-content;
    margin-bottom: 0.75rem;
}

.download-paragraph {
    width: 230px;
    margin-bottom: 0.75rem;
}

.download-link-container {
    display: flex;
}

.resume-paragraph {
    font-weight: bold;
    font-size: 0.75rem;
    margin: 0.25rem;
}

.download-link {
    color: var(--lighter-color);
    text-decoration: none;
    font-size: 0.75rem;
}

.download-link:hover {
    color: rgb(45, 150, 255);
    text-decoration: underline;
}

/* ## CUSTOM  CLIP IMAGE CSS*/

.gg-attachment {
    color: var(--lighter-color);
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 7px;
    height: 7px;
    border: 1px solid;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transform: scale(var(--ggs, 1));
    margin-top: 5.5px;
    margin-right: 10px;
}

.gg-attachment::after,
.gg-attachment::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    border: 1px solid
}

.gg-attachment::after {
    border-bottom: 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    right: -1px;
    width: 5px;
    height: 7px;
    bottom: 4px
}

.gg-attachment::before {
    width: 3px;
    height: 6px;
    border-top: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    left: 1px;
    bottom: 2px
}

/* ## CUSTOM DOWNLOAD IMAGE CSS */

.gg-software-download {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 6px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 8px;
    margin-right: 10px;
}

.gg-software-download::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 2px;
    bottom: 4px
}

.gg-software-download::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: currentColor;
    left: 5px;
    bottom: 5px
}