.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.copyright {
    font-size: 0.75rem;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

.footer-links {
    text-decoration: none;
    color: var(--light-color);
    font-size: 0.75rem;
}